.card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 30px;
  font-size: 1.2rem;
  text-align: center;

  > div {
    // border: 2px solid;
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        cursor: pointer;
        padding: 5px 10px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      
      input {
        padding: 5px;
        border-radius: 7px;
        border: 1px solid;
        min-width: 150px;
        max-width: 100%;
        width: 70%;
      }
    }

    .add-btn {
      padding: 10px;
      background-color: rgb(220, 247, 220);
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      border: 1px solid;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
}
