// Import the "Pacifico" font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// Define a reusable class for flex display with center aligned items
.flex-display {
  display: flex;
  align-items: center;
}

// Global styles of the header
.header {
  // Inherit the properties of the ".flex-display" class
  @extend .flex-display;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 30px;
  background-color: rgb(152, 238, 205);
  border-bottom: 2px solid rgb(57, 199, 180);
  font-size: 0.8rem;
  position: fixed;

  // Style all link in the header
  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    margin: 0;
  }
  // Style all icons in the header
  img {
    width: 30px;
    height: 30px;
  }

  // Style the left part of the header
  .header-left {
    @extend .flex-display;
    // Set the font-family to "Pacifico"
    font-family: "Pacifico", cursive;
    gap: 10px;
  }
  // Style the right part of the header
  .header-right {
    @extend .flex-display;
    gap: 20px;
    justify-content: center;
    margin-top: 4px;

    .humberger {
      @extend .flex-display;
      // border: 2px solid;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      width: 25px;
      height: 25px;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: black;
        transition: transform 0.5s;
      }
      span:nth-child(2) {
        align-self: flex-start;
        transform-origin: right;
        transform: scaleX(0.7);
      }
    }
    .humberger:hover span:nth-child(2) {
      transform: scaleX(1);
    }
    .global-links {
      @extend .flex-display;
      gap: 20px;
      font-size: 0.8rem;
    }

    // Style the container that hold cart icon
    .cart {
      @extend .flex-display;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      sup {
        align-self: flex-end;
        color: red;
        font-size: 1.2rem;
        margin-bottom: -5px;
      }
    }
  }
}

/* Media query for screens with a maximum width of 500px. Modifies the font-size and padding of the ".header" class and the font-size and gap of the ".global-links" class within the ".header-right" class. */
@media (max-width: 500px) {
  .header {
    font-size: 0.6rem;
    padding: 10px 25px;
    .header-right {
      .show-list {
        display: none;
      }
      .global-links {
        width: 200px;
        @extend .flex-display;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 0;
        margin: 0;
        position: absolute;
        top: 80px;
        right: 8px;
        font-size: 0.7rem;
        background-color: rgba(165, 243, 213, 0.9);
        a {
          width: 100%;
          padding: 10px 0;
          transition: transform 0.3s;
        }
        a:not(:last-child) {
          border-bottom: 2px solid white;
        }
        a:hover {
          transform: translateX(10px);
        }
      }
    }
  }
}
