.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  background-color: rgb(151, 151, 151);
  color: white;

  img{
    width: 50px;
  }
  >div{
    display: flex;
    gap: 20px;
    align-items: center;
  }
}